* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans', Arial, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow: hidden;
}

.header {
    height: 25vh;
    flex-shrink: 0;
    width: 100%;
    background-image: url("https://github.com/sayshaloom/tap-to/blob/main/telegram-photo-0-5875319964926329405.JPG?raw=true");
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 7px;
    flex: 1; 
    width: 100%;
    padding-bottom: 10vh;
}

.box {
display: flex;
justify-content: center;
align-items: center;
width: 45%;
max-width: 400px; 
height: auto;
max-height: 100%;
}

.box.phrase {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding: 20px 10px;
    font-size: 1.2rem;
    font-weight: 420;
    color: #2E9AFF;
}

.box.button button {
    width: 70%;
    height: 60%;
    background-color: #2E9AFF;
    color: white;
    border: none;
    font-size: 1.5rem;
    transition: transform 0.2s;
}

.box.button button:active {
    transform: scale(0.95);
}


.footer {
display: flex;
align-items: center;
justify-content: center;
height: 8vh;
width: 100vw;
position: relative;
flex-shrink: 0;
bottom: 0;
background-color: #2E9AFF;
}
